
@import url('https://fonts.googleapis.com/css2?family=Dangrek&family=Noto+Sans+JP:wght@100&family=Poppins:wght@300&family=Sofia&display=swap');

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*background: linear-gradient(#480ca8,#3f37c9);*/
    font-size: 20px;
   /* background-image: url("imagescss/diccionario-digitalfondo.jpg");*/
   background-size: cover;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

body{
   background-color: #80ed99;
    min-width: 400px;
}
.header{
    background-color: #457b9d;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
    border-radius: 10%;
}

.header .logo img:hover{
    transform: scale(1.2);
}
ul {
    list-style-type: none;
    overflow: hidden;
    max-width: 100%;
}
.header ul li{
    display: inline-block;
    padding: 0 20px;    
}
.header .lista a{
    color: #eceff1; 
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 10px;
}

.header .lista a:hover{
    color: #ffbc0e;
    transition: all.7s;
    transform: scale(1.1);
}
.contener{
    display: none;
    position: absolute;
    background-color: #a2d2ff;
    min-width: 160px;
    z-index: 1;
}
.contener a{
    color: azure;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.contener a:hover{

    color: rgb(207, 207, 207);
    transition: all.7s;
}
.lista:hover .contener{
    display: block;
}
.main-container {
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
}
.main-container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.main-container .backgroundImg {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-image: url("imagescss/profesional.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-container h2 {
    margin-bottom: 45px;
    font-size: 2rem;
    font-weight: bold;
    height: 2.4rem;
    color: black;
}
.main-container p {
    margin-bottom: 30px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #201e1c;
}
.main-container--time .time-open {
    width: 270px;
    height: 40px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 2px;
    background-color: #a0dbe6;
    color: black;
}
/*
a .contener .conten a{
    display: inline-block;
}
.contener{
    display: none;
    position: absolute;
    background-color: #a2d2ff;
    min-width: 160px;
    z-index: 1;
}
.contener a{
    color: azure;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.contener a:hover{
    background-color: #023047;
    color: rgb(245, 240, 228);
    transition: all.7s;
    border-radius: 15px;
}
.lista:hover .contener{
    display: block;
}
*/

.detalle-productos {
    position: relative;
    text-align: center;
    padding: 50px 20px;
}

.main-product-detail-title h2 {
    font-size: 2.4rem;
    margin-top: 20px;
    line-height: 2.6rem;
    font-weight: bold;
    color: #656d4a;
}

.main-product-detail-title p {
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin: 30px 0;
    color: #656d4a;
}

.producto-cartas-contener {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}

.product-detail--card {/*
    display: grid;
    gap: 8px;*/
    background-color:#9DA65D;
    border-radius: 4px;
    text-align: left;
    padding: 16px;
    max-width: 332px;
    box-shadow: 0 4px 8px #344e41;
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;

}

.product-detail .product--card-title {
    font-size: 1.8rem;
    font-weight: bold;
}

.product-detail .product--card-body {
    font-size: 1.4rem;
    font-weight: 500;
    color: #e5e9da;
}
.producto-cartas-contener article:hover{
    transition: all.7s;
    transform: scale(1.1);
}
img{
    display: flex;
    width: 300px;
    border-radius: 10px;
}/*
section{
    width: 100%;
    margin: 10px;
    border-radius: 50px 0 50px 0;
}
*/
.galeria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
  }
  
  .galeria img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px #344e41;
  }
  .galeria img:hover{
    transition: all.7s;
    transform: scale(1.1);
  }
  /*
  .galeria::after {
    content: "";
    width: 350px;
  }*/
/*
  footer {
    display: flex;
    width: 100%;
    height: 150px;
    background-color:#fcbf49;
}
/*
footer section {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

footer .footer-left ul {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}
footer .footer-left a {
    text-decoration: none;
    color: #656d4a;
    display: block;
}

footer .footer-left li {
    margin: 10px 0;
}
/*footer con redes*/
footer {
    width: 100%;
    min-width: 320px;
    height: auto;
    text-align: center;
    align-self: center;
    /*background-color: #131212;*/
    background-color:#fcbf49;
    padding: 20px;
    text-align: center;
    font-size: 1.4rem;
    color: #212529;
  }
  .social-icons a {
    display: inline-block;
    margin-right: 30px;
    color: #212529;
    font-size: 2.4rem;
    transition: color 0.2s;
  }
  .social-icons a:hover {
    color: #fafafa;
  }

  footer .copyRight {

    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2rem;
    color: #212529;
  }
  footer .copyRight a {
    text-decoration: none;
    color:#f9f7f3;
  }
  footer p {
    margin: 10px;
  }

/*
@media (max-width:750px){
    div {
        color: red;
    }
}*/

